extends layout

block content
  #fullpage
    include index/top.pug

    include index/curry.pug

    include index/okonomiyaki.pug

    include index/ramen.pug

    include index/sashimi.pug

    include index/soba.pug

    include index/sushi.pug

    include index/tempura.pug

    include index/tonkatsu.pug

    include index/udon.pug

    include index/yakitori.pug