.section.curry
    .align-wrapper
        .align-bottom
            .container
                .row
                    .six.columns.offset-by-six
                        h5
                            | Speaking of&nbsp
                            span カレー
                            | (Curry), Indian curry is very famous, but Japan also have it’s own dish of curry called カレーライス (curry rise), because Japanese curry is usually served with rice. Japanese curry is very popular in Japan, and it’s my favorite dish. The usual ingredients in Japanese curry are potatoes, carrots, onions, and meet. The meat of choice is often pork or beef.