.section.okonomiyaki
    .container
        .row
            .six.columns
                h5
                    span お好み焼き
                    | (Okonomiyaki) is a popular pan fried food in Japan, containing a variety of ingredients (from meat and seafood to wasabi and cheese). As making okonomiyaki is not very easy, in Japan people usually eat it at restaurants. You can choose to make it by yourself which is fun, or ask the cooker to make it for you.