.section.ramen
    .align-wrapper
        .align-bottom
            .container
                .row
                    .ten.columns.offset-by-one
                        h5
                            span ラーメン
                            | (Ramen) is a kind of noodle soup which are inexpensive and widely available. You can find a ramen restaurant anywhere easily, and a lot of them open until late. Like the hamburger in the U.S., ramen is becoming a kind of junk food in Japan. So I suggest you, try it, but don’t eat too much.