.section.sashimi
    .container
        .row
            .five.columns
                h5
                    span 刺身
                    | (Sashimi) is sliced raw seafood. You may want to ask what the difference between sushi and sashimi is. Simple, sashimi is the sushi without rice. Sashimi is available at most izakaya, and you should not miss sake(Japanese alcohol) when you eat sashimi. Sashimi can also be served by other meats, such as beef and horse.