.section.soba
    .container
        .row
            .six.columns.offset-by-six
                h5
                    span そば
                    | (Soba) are Japanese noodles made of buckwheat flour, and can be served either hot or cold. Soba dishes are very popular and available nationwide. If you would like to try, find a soba restaurant where serve hand made soba. My recommendation is hot soba in winter and cold soba in summer.