.section.tempura
    .container
        .row
            .six.columns.offset-by-six
                h5
                    span 天ぷら
                    | (Tempura) are pieces of deep fried seafood and vegetables. It’s commonly served as a main dish, side dish, or as a topping for rice bowls, or udon and soba noodle dishes. The best place to try tempura are restaurants called tempura-ya. But you also can find them at some izakaya.