.section.tonkatsu
    .container
        .row
            .six.columns
                h5 “豚(ton)" in Japanese means “pork”,
                    span とんかつ
                    | (Tonkatsu) are slices of pork that are breaded and deep fried. Typically there are two types of pork used for tonkatsu: the lean and tender hire(filet) and the fattier rosu(loin). If you don’t like pork too much, like me, there are some other choices like chikinkatsu(made of chicken) and gyukatsu(made of beef) are also very good.