.section.udon
    .container
        .row
            .ten.columns.offset-by-one
                h5
                    span うどん
                    | (Udon) are Japanese noodles made of wheat flour. They are thicker than soba noodles. Udon is widely available at restaurants across Japan. Like soba you can find some specialty udon restaurants called udon-ya. My favorite combination is udon with tempura.