.section.yakitori
    .container
        .row
            .six.columns
                h5
                    span 焼き鳥
                    | (Yakitori) are grilled chicken skewers made from pieces of meat from all different parts of chicken, such as the breasts, thighs, skin, liver, and other innards. There are specialty restaurants knows as yakitori-ya, but it can be found at many other types of restaurants. Yakitori is very popular among the Japanese salary-man, because it’s inexpensive and commonly eaten with a glass of beer. Yes, if you want to enjoy beer, yakitori is definitely a good idea.